@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");


.home_slider_Main{border-radius: 25px; overflow: hidden; position: relative;}

.slick-arrow{position:absolute; top:47%; width: 60px !important; height: 60px
!important; border-radius: 50% !important; background:#F2F3F4 !important;
z-index: 1000 !important; transition: all 0.2s ease-in-out; box-shadow: 0 3px 6px 
rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);}

.slick-arrow.slick-next{right: 2% !important;}
.slick-arrow.slick-prev{left: 2% !important;} 

.slick-prev:before{content: "\f104" !important; font-family: FontAwesome !important;
font-size: 30px; color: #000 !important;}
.slick-next:before{content: "\f105" !important; font-family: FontAwesome !important;
font-size: 30px; color: #000!important;}



.slick-arrow:hover{background:#3bb77e !important;}
.slick-arrow:hover::before{color: #fff !important;}

.home_slider_Main .slick-dots{position: absolute; bottom:30px !important;}

.home_slider_Main .slick-dots button::before{font-size: 18px !important;}

.slick-active button::before{color:#3bb77e !important;}

.home_slider_Main .info{font-size: 35px; margin-left: 220px;}

.homeSlider .register {position: relative;}
.homeSlider .register{ width: 410px; height: 50px; position:absolute; bottom: 33%;left: 12%; z-index: 10;}
.homeSlider .register input{width: 100%; height: 100%; border-radius: 30px; background: #fff;
border: 0px; outline: none !important; padding-left: 20px; font-size: 20px;}

.homeSlider .register button{background:#3bb77e ;padding: 10px 30px !important; border-radius: 30px;transition: all 0.3s ease-in-out;
height: 100%;position: absolute; color: #fff !important; top: 0px; right: 0px;box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);}


.homeSlider .register button:hover {
    background-color: #FF5733 !important ; /* New background color on hover */
    
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3); /* Slightly enlarges the button */
}